.sourceCode .hll { background-color: #dce0e0 }
.sourceCode .c { color: #909494 } 
.sourceCode .err { color: #FF6363 } 
.sourceCode .k { color: #222626; font-weight: 500 } 
.sourceCode .n { color: #222626 } 
.sourceCode .o { color: #081212; font-weight: 500 } 
.sourceCode .p { color: #222626; font-weight: 500 } 
.sourceCode .ch { color: #909494; font-weight: 500 } 
.sourceCode .cm { color: #909494 } 
.sourceCode .cp { color: #909494; font-weight: 500 } 
.sourceCode .cpf { color: #507585 } 
.sourceCode .c1 { color: #909494 } 
.sourceCode .cs { color: #909494 } 
.sourceCode .ge { color: #081212; font-weight: 500 } 
.sourceCode .gh { color: #081212; font-weight: bold } 
.sourceCode .go { color: #7c8080; font-weight: bold } 
.sourceCode .gp { color: #404444; font-weight: 500 } 
.sourceCode .gs { color: #081212; font-weight: bold } 
.sourceCode .gu { color: #081212; font-weight: 500 } 
.sourceCode .kc { color: #222626; font-weight: 500 } 
.sourceCode .kd { color: #222626; font-weight: 500 } 
.sourceCode .kn { color: #222626; font-weight: 500 } 
.sourceCode .kp { color: #222626; font-weight: 500 } 
.sourceCode .kr { color: #222626; font-weight: 500 } 
.sourceCode .kt { color: #081212; font-weight: bold; font-weight: 500 } 
.sourceCode .m { color: #818AC2; font-weight: bold } 
.sourceCode .s { color: #507585 } 
.sourceCode .na { color: #7c8080; font-weight: 500 } 
.sourceCode .nb { color: #5c6060; font-weight: 500 } 
.sourceCode .nc { color: #545858; font-weight: bold } 
.sourceCode .no { color: #545858; font-weight: bold } 
.sourceCode .nd { color: #404444; font-weight: bold } 
.sourceCode .ni { color: #222626 } 
.sourceCode .ne { color: #222626 } 
.sourceCode .nf { color: #5c6060; font-weight: 500; text-decoration: underline } 
.sourceCode .nl { color: #222626 } 
.sourceCode .nn { color: #5c6060 } 
.sourceCode .nx { color: #222626 } 
.sourceCode .py { color: #222626 } 
.sourceCode .nt { color: #404444; font-weight: 500 } 
.sourceCode .nv { color: #5c6060; font-weight: 500 } 
.sourceCode .ow { color: #081212; font-weight: 500 } 
.sourceCode .mb { color: #818AC2; font-weight: bold } 
.sourceCode .mf { color: #818AC2; font-weight: bold } 
.sourceCode .mh { color: #818AC2; font-weight: bold } 
.sourceCode .mi { color: #818AC2; font-weight: bold } 
.sourceCode .mo { color: #818AC2; font-weight: bold } 
.sourceCode .sa { color: #507585 } 
.sourceCode .sb { color: #74A3B7 } 
.sourceCode .sc { color: #507585 } 
.sourceCode .dl { color: #507585 } 
.sourceCode .sd { color: #507585 } 
.sourceCode .s2 { color: #507585 } 
.sourceCode .se { color: #507585 } 
.sourceCode .sh { color: #507585 } 
.sourceCode .si { color: #507585 } 
.sourceCode .sx { color: #507585 } 
.sourceCode .sr { color: #507585 } 
.sourceCode .s1 { color: #507585 } 
.sourceCode .ss { color: #74A3B7; font-weight: 500 } 
.sourceCode .bp { color: #5c6060; font-weight: 500 } 
.sourceCode .fm { color: #5c6060; font-weight: 500; text-decoration: underline } 
.sourceCode .vc { color: #5c6060; font-weight: 500 } 
.sourceCode .vg { color: #5c6060; font-weight: 500 } 
.sourceCode .vi { color: #5c6060; font-weight: 500 } 
.sourceCode .vm { color: #5c6060; font-weight: 500 } 
.sourceCode .il { color: #818AC2; font-weight: bold } 
.sourceCode .hll { display: block; }
